body {
  background-color: #ffffff;
  margin-top: 50px;
}

img {
  width: 73px;
  height: 73px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  
}

.add {
  width: 218px;
  height: 10px;
}

.box{
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  background-color: #f8f8f8;
  background-size: cover;
  width: 350px;
  height: 300px;
  font-size: 48px;
  color: #e3e3e3;
  text-align: center;
  line-height: 300px 
  
}


#main {
  display: flex;
}


#main .address {
  flex: 1;
}

.period {
  margin: 50px 0px 40px 0px;
}


.one {
   margin: 30px 0px 30px 0px;
}


.address {
  margin: 0px 20px 0px 30px;
}

#container {
  display: flex;
  line-height: 25px;
  margin: 0px 20px 0px 30px;
  background-color: #fff8e1;
  background-size: cover;
  width: 97%;
  color: #ffa000;
  text-decoration: none solid rgb(255, 160, 0);
}

#container .accountd {
  flex: 0.9; 
}


.accountd {
  margin: 0px 20px 0px 30px;
}


#customers {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: normal;
  border-collapse: collapse;
  width: 97%;
  margin: 40px 20px 0px 30px;
}


#customers th {
  width: 1020px;
  height: 50px;
  background-color: #8934ad;
  background-size: cover;
  color: white;
}

th {
  padding-left: 22px;
  padding-right: 22px;
  text-align: left;
}

td {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 22px;
  padding-bottom: 22px;
  text-align: left;
}

#customers tr:nth-child(odd) {
  background-color: #f6f6f6;
}

#customers tr:nth-child(even) {
  background-color: #fcfcfc;
}

#customers td, #customers th {
  border: 1px solid #fff;
  opacity: 0.8;
}

footer {
  margin: 20px 20px 20px 30px;
}


.bottom {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

#last {
  display: flex;
}

#last .bot {
  flex: 1;
}
